<div ng-controller="mainCtrl" class="list">
	<div class="add">
		<a ng-click="addTodo()">+ Add a New Task</a>
	</div>

	<div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">

		<input ng-model="todo.completed" ng-change="todo.completed; todo.edited = true" type="checkbox">
		<label ng-click="editing = true" ng-hide="editing">{{todo.name}}</label>
		<input ng-change="todo.edited = true" ng-blur="editing = false" ng-show="editing" ng-model="todo.name" class="editing-label" type="text">

		<div class="actions">
			<a ng-click="saveTodos(todo)">save</a>
			<a ng-click="deleteTodo(todo, $index)" class="delete">delete</a>
		</div>

	</div>

</div>